/*

 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body, .all-content, .all-content > * {
  height: 100%;
}

body {
  background-color: #53606b;
}

.login-header {
  height: 50px;
  background-color: #0a2135;
  color: white;
  border-color: #ddd;
  margin-bottom: 10px;
}

.register-link {
  color: white;
}

.principal-navbar {
  margin-bottom: 0px;
}

.short-icon {
  width: 25px;
}

.users-title {
  width: 75%;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  display: inline-block;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-item img {
  width: 50px;
  margin-right: 10px;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}

.panel.panel-primary {
  .panel-heading {
    color: #fff;
    background-color: #0a2135;
    border-color: #0a2135;
  }
  height: 95%;
  background-color: #53606b;
  border-color: #0a2135;
}

.left-panel {
  border: 1px solid #53606b;
}

.login {
  box-shadow: 2px 3px 3px #ddd;
}